[run]
# source = multiprocess
include =
    */multiprocess/*
    */multiprocess/dummy/*
omit = 
    */_multiprocess/*
    */examples/*
    */multiprocess/tests/*
branch = true
# timid = true
# parallel = true
# concurrency = multiprocessing # thread
# data_file = $TRAVIS_BUILD_DIR/.coverage
# data_file = ./.coverage
# debug = trace

[paths]
source =
    multiprocess
    multiprocess/dummy
    */site-packages/multiprocess
    */site-packages/multiprocess/dummy
    */site-packages/multiprocess-*/multiprocess
    */site-packages/multiprocess-*/multiprocess/dummy

[report]
include =
    */multiprocess/*
    */multiprocess/dummy/*
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
# show_missing = true
ignore_errors = true
# pragma: no branch
# noqa
