include COPYING
include LICENSE
include README*
include MANIFEST.in
include pyproject.toml
include tox.ini
include version.py
recursive-include py3.10 *
recursive-include py3.11 *
recursive-include py3.12 *
recursive-include py3.7 *
recursive-include py3.8 *
recursive-include py3.9 *
recursive-include pypy3.10 *
recursive-include pypy3.7 *
recursive-include pypy3.8 *
recursive-include pypy3.9 *
include .*
prune .git
prune .coverage
prune .eggs
prune py2.5
prune py2.6
prune py2.7
prune py3.1
prune py3.2
prune py3.3
prune py3.4
prune py3.5
prune py3.6
prune pypy2.7
prune pypy3.6
