include CHANGES.txt
include COPYING.txt
include LICENSE
include README.md
include THANKS.txt
include tox.ini
recursive-include py2.5 *
recursive-include py2.6 *
recursive-include py2.7 *
recursive-include py3.1 *
recursive-include py3.2 *
recursive-include py3.3 *
recursive-include py3.4 *
recursive-include py3.5 *
recursive-include py3.6 *
recursive-include py3.7 *
recursive-include py3.8 *
recursive-include py3.9 *
